doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='/javascripts/build/react.js')
    script(src='/javascripts/build/react-dom.js')
    script(src='/javascripts/build/square.js')
