$normalBackGround: red;
$hoveredBackground: orange;

.normalSquare {
	background-color: $normalBackGround;
}

.hoveredSquare {
	background-color: $hoveredBackground;
}

#squareBox {
	width: 100%;
	height: 100%;
}

.bigSquare {
	height: 20%;
	width: 20%;
	position: absolute;
	z-index: 10;
}

.square {
	height: 5%;
	width: 5%;
	padding: 0px;
	margin: 0px;
	border: 0px;
}