body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.square {
	height: 50px;
	width: 50px;
}

.bigSquare {
	height: 250px;
	width: 500px;
}

.normalSquare {
	background-color: red;
}

.hoveredSquare {
	background-color: orange;
}